<div class="modal fade" id="unlockModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                     <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-unlock"></i> Unlock Calendar</h4>

                </div>
                <div class="modal-body">
                    <p class="h3 text-center text-primary"><i class="fa fa-thumbs-up"></i> Woop!</p>
                    <p class="lead text-center">Here's what happens when you unlock your calendar:</p>
                    <hr>
                    <div class="row">
                        <div class="col-xs-1"> <i class="fa fa-fw fa-thumbs-up text-primary"></i>

                        </div>
                        <div class="col-xs-11">You'll instantly get access to all <strong class="text-primary">67 shared assignments</strong> on your calendar.</div>
                        <div class="col-xs-1"> <i class="fa fa-fw fa-thumbs-up text-primary"></i>

                        </div>
                        <div class="col-xs-11">You'll be <strong>notified</strong> whenever a shared assignment is <strong>updated or edited</strong> throughout the semester.</div>
                        <div class="col-xs-1"> <i class="fa fa-fw fa-thumbs-up text-primary"></i>

                        </div>
                        <div class="col-xs-11">You'll be able to <strong>share your own calendar assignments</strong> with your class, which means you can start making money instantly.</div>
                        <div class="col-xs-1"> <i class="fa fa-fw fa-thumbs-up text-primary"></i>

                        </div>
                        <div class="col-xs-11">You'll gain access to special features of mchp, such as <strong>calendar integration</strong> in your College Pulse and in each of your class's activity sections.</div>
                    </div>
                    <hr>
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <!-- Table -->
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Class Name</th>
                                    <th># of Assignments</th>
                                    <th>Unlock</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><i class="fa fa-book"></i> ECON 200</td>
                                    <td><strong class="text-primary"><i class="fa fa-calendar"></i> 15 now</strong> + all future</td>
                                    <td><i class="fa fa-check-circle text-success"> yes</i>
                                    </td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-book"></i> ACCT 210</td>
                                    <td><strong class="text-primary"><i class="fa fa-calendar"></i> 22 now</strong> + all future</td>
                                    <td><i class="fa fa-check-circle text-success"> yes</i>
                                    </td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-book"></i> MGMT 310</td>
                                    <td><strong class="text-primary"><i class="fa fa-calendar"></i> 30 now</strong> + all future</td>
                                    <td> <i class="fa fa-check-circle text-success"> yes</i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="panel-footer text-center">You're unlocking: <strong>3 classes</strong> for <strong>300 points</strong>
                        </div>
                    </div>
                  </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success">Unlock!</button>
                </div>
            </div>
        </div>
    </div>
